<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frankzhou.project.mapper.PostFavourMapper">

    <resultMap id="BaseResultMap" type="com.frankzhou.project.model.entity.PostFavour">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="postid" column="postId" jdbcType="BIGINT"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,postId,userId,
        createTime,updateTime
    </sql>
</mapper>
